body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #5e0457;
}

canvas {

  background-color: black;
  border: 3px solid #b307a5;
}